# Dependency directories
node_modules/

# Database key
../gerador/keys.js

# Yarn lock
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Java project
/hibernate/bin/
/hibernate/target/

# Eclipse
/hibernate/.classpath
/hibernate/.project
/hibernate/.settings/

# Maven
/hibernate/log/
/hibernate/target/
